---
import HomeLink from "./homeLink.astro";
import Link from "./link.astro";
import { Icon } from "astro-icon/components";
---

<header class="mb-14 flex flex-row place-content-between">
  <HomeLink />
  <span class="relative top-[4px]">
    <div class="flex gap-2">
      <Link
        classList={["scale-100 active:scale-100"]}
        href="https://github.com/rbinksy"
      >
        <Icon
          class="relative -top-1 inline h-8 w-8 rounded-full"
          name="linkedin"
          width={32}
          height={32}
        />
      </Link>

      <Link
        classList={["scale-100 active:scale-100"]}
        href="https://github.com/rbinksy"
      >
        <Icon
          class="relative -top-1 inline h-8 w-8 rounded-full"
          name="github"
          width={32}
          height={32}
        />
      </Link>
    </div>
  </span>
</header>
