---
interface Props {
  href: string;
  classList: (string | object)[];
  target?: "_self" | "_blank" | "_parent" | "_top";
  label: string;
}

const { classList, href, label, target = "_blank" } = Astro.props;
---

<a class:list={classList} target={target} href={href} aria-label={label}>
  <slot />
</a>
